In [2]:
import os
import pandas as pd
import geopandas as gpd

In [3]:
input_folder = os.path.join('..', '..', '..', 'Ecuador', 'Data', 'Structured')
output_folder = os.path.join('..', 'input', 'Ecuador', 'Subnational')

# Load Canton

In [4]:
canton = gpd.read_file(os.path.join(input_folder, "Admin", "canton_cities.geojson"))
canton = canton.to_crs(4326)
print(canton['DPA_CANTON'].duplicated().sum())
canton = canton.drop_duplicates(subset=['DPA_CANTON']) #en attendant de mieux choisir
print(canton['DPA_CANTON'].duplicated().sum())
canton

23
0

,province_code,province_name,city_code,canton_name,index_right,DPA_CANTON,DPA_PROVIN,DPA_DESPRO,DPA_DESCAN,Leyend,Agri_prod,geometry
0,107,EL ORO,10701,MACHALA,52.0,0701,07,EL ORO,MACHALA,07-01 MACHALA,2.003842e+08,POINT (-79.96533 -3.26878)
1,107,EL ORO,10702,ARENILLAS,53.0,0702,07,EL ORO,ARENILLAS,07-02 ARENILLAS,1.769213e+08,POINT (-80.07112 -3.56081)
2,107,EL ORO,10703,ATAHUALPA,54.0,0703,07,EL ORO,ATAHUALPA,07-03 ATAHUALPA,1.102533e+07,POINT (-79.64780 -3.59191)
3,107,EL ORO,10704,BALSAS,55.0,0704,07,EL ORO,BALSAS,07-04 BALSAS,3.920469e+06,POINT (-79.83358 -3.76785)
4,107,EL ORO,10705,CHILLA,56.0,0705,07,EL ORO,CHILLA,07-05 CHILLA,2.682141e+07,POINT (-79.59244 -3.45706)
...,...,...,...,...,...,...,...,...,...,...,...,...
221,322,ORELLANA,32203,LA JOYA DE LOS SACHAS,213.0,2203,22,ORELLANA,LA JOYA DE LOS SACHAS,22-03 LA JOYA DE LOS SACHAS,7.540929e+07,POINT (-76.86200 -0.29621)
222,322,ORELLANA,32204,LORETO,214.0,2204,22,ORELLANA,LORETO,22-04 LORETO,6.424504e+06,POINT (-77.32625 -0.68729)
223,420,GALAPAGOS,42001,SAN CRISTOBAL,223.0,2001,20,GALAPAGOS,SAN CRISTOBAL,20-01 SAN CRISTOBAL,1.334000e+03,POINT (-89.60894 -0.90490)
224,420,GALAPAGOS,42002,ISABELA,222.0,2002,20,GALAPAGOS,ISABELA,20-02 ISABELA,1.204000e+03,POINT (-90.96443 -0.95543)
225,420,GALAPAGOS,42003,SANTA CRUZ,224.0,2003,20,GALAPAGOS,SANTA CRUZ,20-03 SANTA CRUZ,6.674000e+03,POINT (-90.31442 -0.73975)

# Add agri

In [4]:
agri = gpd.read_file(os.path.join(input_folder, "Supply", "agri.geojson"))
print(agri['DPA_CANTON'].duplicated().sum())
canton['agri_prod'] = canton['DPA_CANTON'].map(agri.groupby('DPA_CANTON')['Agri_prod'].sum())
canton

1

,province_code,province_name,city_code,canton_name,index_right,DPA_CANTON,DPA_PROVIN,DPA_DESPRO,DPA_DESCAN,Leyend,Agri_prod,geometry,agri_prod
0,107,EL ORO,10701,MACHALA,52.0,0701,07,EL ORO,MACHALA,07-01 MACHALA,2.003842e+08,POINT (614953.198 9638638.887),2.003842e+08
1,107,EL ORO,10702,ARENILLAS,53.0,0702,07,EL ORO,ARENILLAS,07-02 ARENILLAS,1.769213e+08,POINT (603167.277 9606366.207),1.769213e+08
2,107,EL ORO,10703,ATAHUALPA,54.0,0703,07,EL ORO,ATAHUALPA,07-03 ATAHUALPA,1.102533e+07,POINT (650186.519 9602870.267),1.102533e+07
3,107,EL ORO,10704,BALSAS,55.0,0704,07,EL ORO,BALSAS,07-04 BALSAS,3.920469e+06,POINT (629523.996 9583446.404),3.920469e+06
4,107,EL ORO,10705,CHILLA,56.0,0705,07,EL ORO,CHILLA,07-05 CHILLA,2.682141e+07,POINT (656358.781 9617770.034),2.682141e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,322,ORELLANA,32203,LA JOYA DE LOS SACHAS,213.0,2203,22,ORELLANA,LA JOYA DE LOS SACHAS,22-03 LA JOYA DE LOS SACHAS,7.540929e+07,POINT (960853.342 9967173.385),7.540929e+07
222,322,ORELLANA,32204,LORETO,214.0,2204,22,ORELLANA,LORETO,22-04 LORETO,6.424504e+06,POINT (909049.510 9923875.875),6.424504e+06
223,420,GALAPAGOS,42001,SAN CRISTOBAL,223.0,2001,20,GALAPAGOS,SAN CRISTOBAL,20-01 SAN CRISTOBAL,1.334000e+03,POINT (-461487.883 9898833.798),1.334000e+03
224,420,GALAPAGOS,42002,ISABELA,222.0,2002,20,GALAPAGOS,ISABELA,20-02 ISABELA,1.204000e+03,POINT (-614305.361 9892767.940),1.204000e+03
225,420,GALAPAGOS,42003,SANTA CRUZ,224.0,2003,20,GALAPAGOS,SANTA CRUZ,20-03 SANTA CRUZ,6.674000e+03,POINT (-541000.911 9917135.159),6.674000e+03

# Add other sectors

,ecuador_sector,ecuador_description,trigram,trigam_desc,trigram_desc_en,other_sectors
0,1001,"Cultivo de banano, cafÃ© y cacao",FRT,fruta tropical,tropical fruit,NaN
1,2001,Cultivo de cereales,CER,cereales,cereals,NaN
2,4001,"Cultivo de tubÃ©rculos, vegetales, melones y fr...",FRV,frutas y vegetales,fruits and vegetables,3001
3,4002,Cultivo oleaginosas e industriales,CIN,cultivos industriales,industrial crops,NaN
4,4003,Actividades de apoyo a los cultivos,CUL,apoyo a cultivos,support activities for agriculture,NaN
...,...,...,...,...,...,...
57,44001,Servicios de enseÃ±anza privado,EDU,educaciÃ³n,education,44002
58,45001,Servicios sociales y de salud privado,SAL,salud,health,45002
59,46001,Servicios de asociaciones; esparcimiento; cult...,ASO,actividades asociativas,"associations, leisure, sports, culture",NaN
60,47001,Hogares privados con servicio domÃ©stico,DOM,servicio domÃ©stico,private homes with domestic service,NaN
61,48001,Compras directas de no residentes en Ecuador,CDN,compras directas no residentes,direct purchases from non residents,NaN

In [5]:
#sectors = pd.read_csv(os.path.join(input_folder, "Sectors", "sectors.csv"))
#sectors = pd.read_csv(os.path.join(input_folder, "Sectors", "sectors_from_ntw_data.csv"),
#                     dtype={'ecuador_sector': str})
#supply = gpd.read_file(os.path.join(input_folder, "Supply", "all_2015.geojson"))
supply = pd.read_csv(os.path.join(input_folder, "Supply", "sales_sector_canton_from_ntw_data.csv"),
                    dtype={"DPA_CANTON": str})
#supply = supply.rename(columns=sectors.set_index('ecuador_sector')['trigram'].to_dict())
print(supply['DPA_CANTON'].duplicated().sum())
supply.head()

0

,DPA_CANTON,ADM,ADP,AGU,ALD,ASO,AYG,AZU,BAL,BNA,...,REP,RES,SAL,SEG,SIL,TAB,TEL,TRA,VES,VID
0,0101,3.757952e+08,16085656.02,6194978.18,19231205.92,46178424.28,65846.44,178704.97,74919156.79,7804.76,...,1.449779e+08,16183043.68,82614259.32,101573.18,2651385.54,NaN,60193780.96,1.910446e+08,37807996.25,1.701629e+08
1,0102,6.614523e+05,52976.67,104987.28,NaN,118026.02,NaN,397.60,NaN,NaN,...,9.695215e+04,96261.53,22616.06,NaN,NaN,NaN,25451.28,3.947265e+05,11921.14,2.142000e+02
2,0103,3.511797e+06,288639.00,173517.06,802.50,551400.64,NaN,NaN,21901.45,NaN,...,2.987195e+05,638269.55,575397.17,NaN,45.00,NaN,232677.12,3.335849e+06,1568171.35,6.157461e+04
3,0104,2.055024e+06,2005.89,NaN,NaN,378415.07,NaN,NaN,308.04,NaN,...,2.799200e+03,50483.18,3491.93,NaN,202585.72,NaN,NaN,2.283956e+06,NaN,NaN
4,0105,3.419856e+06,451525.07,1180.66,18582.81,913909.34,NaN,NaN,20551.93,275.47,...,2.767828e+05,232520.93,28696.15,NaN,11012.68,NaN,110521.85,3.161935e+06,54879.31,2.965847e+04

In [26]:
supply.columns[1:]

Index(['FRT', 'CER', 'FRV', 'CIN', 'CUL', 'GAN', 'SIL', '7001', 'PES', '9001',
       'MIN1', 'MIN2', 'CAR', 'PPR', 'AYG', 'LAC', 'MOL', 'PAN', 'FID', 'AZU',
       'CHO', 'CAN', 'ALD', 'BNA', 'BAL', 'TAB', 'HIL', 'VES', 'CUE', 'MAD',
       'PAP', 'REF', 'QU1', 'QU2', 'CAU', 'PLS', 'VID', 'CEM', 'MET', 'DEM',
       'MAQ', 'MUE', 'MAN', 'ELE', 'AGU', 'CON', 'COM', 'REP', 'HOT', 'RES',
       'TRA', 'POS', 'TEL', 'FIN', 'SEG', 'INM', 'ADM', 'ADP', '44002',
       '45002', 'ASO', 'DOM', 'CDN'],
      dtype='object')

In [22]:
# to check mapping
pd.concat([
    pd.Series(supply.columns[1:]),
    pd.Series(supply.columns[1:].map(sectors.set_index('ecuador_sector')['trigram']))
], axis=1).to_csv('tmp.csv')

In [6]:
# merge
print(canton['DPA_CANTON'].duplicated().sum())
print(supply['DPA_CANTON'].duplicated().sum())
canton_with_supply = pd.merge(
    canton,
    supply,
    on='DPA_CANTON',
    how='left'
)
canton_with_supply = canton_with_supply.rename(columns={"DPA_CANTON": "admin_code"})

0
0

In [27]:
for sector, letter in sectors.set_index('trigram')['letter'].to_dict().items():
    canton['source_'+sector] = canton['DPA_CANTON'].map(supply.groupby('DPA_CANTON')['source_'+letter].sum())

KeyError: 'letter'

# Pop

In [7]:
canton_with_supply.columns

Index(['province_code', 'province_name', 'city_code', 'canton_name',
       'index_right', 'admin_code', 'DPA_PROVIN', 'DPA_DESPRO', 'DPA_DESCAN',
       'Leyend', 'Agri_prod', 'geometry', 'ADM', 'ADP', 'AGU', 'ALD', 'ASO',
       'AYG', 'AZU', 'BAL', 'BNA', 'CAN', 'CAR', 'CAU', 'CEM', 'CER', 'CHO',
       'CIN', 'COM', 'CON', 'CUE', 'CUL', 'DEM', 'DOM', 'EDU', 'ELE', 'FID',
       'FIN', 'FRT', 'FRV', 'GAN', 'HIL', 'HOT', 'INM', 'LAC', 'MAD', 'MAN',
       'MAQ', 'MET', 'MIP', 'MOL', 'MUE', 'PAN', 'PAP', 'PES', 'PLS', 'POS',
       'PPR', 'QU1', 'QU2', 'REF', 'REP', 'RES', 'SAL', 'SEG', 'SIL', 'TAB',
       'TEL', 'TRA', 'VES', 'VID'],
      dtype='object')

In [8]:
canton_with_supply['population'] = 10000

# Export

In [9]:
canton_with_supply.to_file(os.path.join(output_folder, "59sector_2015_canton_data.geojson"), driver="GeoJSON")