In [8]:
import os
import pandas as pd

In [4]:
data = pd.read_csv('C:\\Users\\celian\\OneDrive\\WorldBank\\Tanzania\\Data\\Trade\\trade_TZA_commtrade_2010_ag3.csv', sep=',')
data = data[['Netweight (kg)', 'Trade Value (US$)', 'Commodity Code', 'Commodity']]
data['group'] = data['Commodity Code'].astype(str).str.zfill(3).str[:2]
data.head()

,Netweight (kg),Trade Value (US$),Commodity Code,Commodity,group
0,231978.0,2625457,1,Live animals other than animals of division 03,00
1,146426.0,652884,1,Live animals other than animals of division 03,00
2,8050.0,2180,1,Live animals other than animals of division 03,00
3,67448.0,254387,11,"Meat of bovine animals, fresh, chilled or frozen",01
4,15000.0,2891,11,"Meat of bovine animals, fresh, chilled or frozen",01

In [10]:
folder = 'C:\\Users\\celian\\OneDrive\\WorldBank\\Cambodia\\Data\\Structured\\Trade'
#data[['Commodity Code', 'Commodity']].drop_duplicates().to_excel(os.path.join(folder, "comtradeCommidity_sectorMapping.xlsx"), index=False)

In [3]:
data.loc[data['group']=="32",'Trade Value (US$)'].sum()  / data.loc[data['group']=="32",'Netweight (kg)'].sum()

0.12817095915992638

In [4]:
corr = {'00':1, '01':19, '02':22, '03':14, '04':1, '05':1, '06':24, '07':1, '08':1, '09':23, '11':26, '12':26, '21':29, '22':21, '23':33, '24': 30,
       '25':31, '26':1, '27':18, '28':18, '29':1, '32':15, '33':16, '34':16, '35':43, '51':33, '52':33, '53':33, '54':33, '55':33, '56': 33, '57': 33,
        '58': 33, '59': 33, '61': 29, '62': 33, '63': 30, '64': 31, '65': 27, '66':34, '67':35, '68':36, '69':37, '71':41, '72':41, '73':41, '74':42,
       '75':40, '76':40, '77':40, '78':38, '79':39, '81':46, '82':47, '83':47, '84':28, '85':28, '87':40, '88':40}

In [5]:
data['sector'] = data['group'].map(corr)
res = data.groupby('sector').agg({'Trade Value (US$)':sum, 'Netweight (kg)':sum})
res['tons_per_kUS'] = (res['Netweight (kg)']/1000) / (res['Trade Value (US$)']/1000)
res['usd_per_ton'] =  (res['Trade Value (US$)']) / (res['Netweight (kg)']/1000)
res.head()

        Trade Value (US$)  Netweight (kg)  tons_per_kUS  usd_per_ton
sector
1.0            1174670744    2.298586e+09      1.956792   511.040545
14.0            146092440    4.593011e+07      0.314391  3180.755282
15.0             12755994    9.952328e+07      7.802079   128.170959
16.0           2278466415    3.564584e+09      1.564466   639.195641
18.0           1009989331    3.236908e+08      0.320489  3120.228664

In [96]:
res.to_excel('TonsPerDollars.xlsx')

In [13]:
# Special case for forestry
data[data['Commodity Code']==247].sum()['Trade Value (US$)'] / data[data['Commodity Code']==247].sum()['Netweight (kg)']

0.5382666876817447